n8n/receta-medica-workflow.json
{
  "name": "Receta Médica - Enviar por Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receta-medica",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook Receta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "receta-medica"
    },
    {
      "parameters": {
        "jsCode": "// Lee el payload del backend (Spring Boot -> n8n). El cuerpo del POST llega bajo .body.\nconst data = $input.first().json.body || $input.first().json || {};\nconst est = data.estudiante || {};\nconst nReceta = String(data.idReceta || '').padStart(4, '0');\n\n// El cuerpo del correo es un mensaje único; el detalle completo va en el PDF adjunto.\nconst html = 'Se adjunta la prescripción médica y los procedimientos médicos';\n\nconst out = {\n  json: {\n    to: est.email,\n    subject: `Receta médica N° ${nReceta} - Centro Médico UNI`,\n    html\n  }\n};\n\n// Adjunto PDF: el backend lo manda en base64 (data.pdfBase64).\nif (data.pdfBase64) {\n  out.binary = {\n    receta: {\n      data: data.pdfBase64,\n      fileName: data.pdfNombre || `receta-${nReceta}.pdf`,\n      mimeType: 'application/pdf'\n    }\n  };\n}\n\nreturn [out];"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Armar correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "receta"
              }
            ]
          }
        }
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Enviar Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook Receta": {
      "main": [
        [
          {
            "node": "Armar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar correo": {
      "main": [
        [
          {
            "node": "Enviar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
