n8n/receta-medica-workflow.json
{
  "name": "Receta Médica - Enviar por Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receta-medica",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook Receta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "receta-medica"
    },
    {
      "parameters": {
        "jsCode": "// Lee el payload que envía el backend (Spring Boot -> n8n).\n// Cuando viene de un Webhook, el cuerpo del POST llega bajo .body.\nconst data = $input.first().json.body || $input.first().json || {};\nconst est = data.estudiante || {};\nconst doc = data.doctor || {};\nconst meds = data.medicamentos || [];\n\nconst nReceta = String(data.idReceta || '').padStart(4, '0');\nconst listaMeds = meds.map(m => `<li>${m.nombre || ''}${m.dosis ? ' — ' + m.dosis : ''}${m.duracion ? ' (' + m.duracion + ')' : ''}</li>`).join('');\n\n// Cuerpo del correo (corto y formal). El detalle completo va en el PDF adjunto.\nconst html = `\n<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:600px;margin:0 auto;color:#1E293B;\">\n  <div style=\"background:#8B1414;color:#F9F5F0;padding:18px 24px;border-radius:8px 8px 0 0;\">\n    <h2 style=\"margin:0;font-size:18px;\">Centro Médico UNI</h2>\n    <p style=\"margin:4px 0 0;font-size:12px;opacity:.9;\">Universidad Nacional de Ingeniería</p>\n  </div>\n  <div style=\"border:1px solid #E8DDD8;border-top:none;padding:24px;border-radius:0 0 8px 8px;background:#F9F5F0;\">\n    <p>Hola <strong>${est.nombre || ''}</strong>,</p>\n    <p>El doctor <strong>${doc.nombre || ''}</strong>${doc.especialidad ? ' (' + doc.especialidad + ')' : ''} ha registrado tu <strong>receta médica N° ${nReceta}</strong>.</p>\n    <p>Adjuntamos el documento oficial en <strong>PDF</strong> con tu diagnóstico y la lista de medicamentos:</p>\n    <ul>${listaMeds || '<li>—</li>'}</ul>\n    <p style=\"margin-top:20px;\">Para recoger tus medicamentos, acércate a la <strong>farmacia del Centro Médico</strong> presentando la receta adjunta.</p>\n    <hr style=\"border:none;border-top:1px solid #E8DDD8;margin:24px 0;\">\n    <p style=\"font-size:12px;color:#64748B;\">Mensaje automático del Sistema de Gestión del Centro Médico UNI. No respondas a este correo.</p>\n  </div>\n</div>`;\n\nconst out = {\n  json: {\n    to: est.email,\n    subject: `Tu receta médica N° ${nReceta} - Centro Médico UNI`,\n    html\n  }\n};\n\n// Adjunto PDF: el backend lo manda en base64 (data.pdfBase64).\nif (data.pdfBase64) {\n  out.binary = {\n    receta: {\n      data: data.pdfBase64,\n      fileName: data.pdfNombre || `receta-${nReceta}.pdf`,\n      mimeType: 'application/pdf'\n    }\n  };\n}\n\nreturn [out];"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Armar correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "receta"
              }
            ]
          }
        }
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Enviar Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook Receta": {
      "main": [
        [
          {
            "node": "Armar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar correo": {
      "main": [
        [
          {
            "node": "Enviar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
